*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

a {
  color: #fff;
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* --------------------------------- 
------------------ Notification Bar Styles ------------------
------------------------------------- */

.notification {
  padding: 16px 0px;
  background: #ffffff url("../images/pattern-bg.png");
  position: relative;
  color: #000;
}

.notification .container {
  padding: 0 60px;
}

.notification p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 1.5;
  text-transform: uppercase;
}

.notification a {
  color: #217f40;
}

.notification a:hover {
  text-decoration: none;
}

.close--container {
  align-items: center;
  background: #428d5b url("../images/pattern-bg.png");
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.close--container img {
  transform: translateY(1px);
}

.close--container:hover {
  background-color: #256b3c;
}

.close {
  display: none;
}

@media screen and (max-width: 980px) {
  .close--container {
    right: 15px;
  }
}

@media screen and (max-width: 670px) {
  .notification .container {
    padding: 0 40px 0 20px;
  }

  .notification__text {
    text-align: left;
    word-wrap: wrap;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: -0.5px;
    font-size: 13px;
  }

  .close--container {
    margin-left: 20px;
  }
}

/* --------------------------------- 
------------------ Notification Bar Styles ------------------
------------------------------------- */
.utility {
  background: #0c3428 url("../images/pattern-bg.png");
}

.utility__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.utility__content .utility__menu {
  width: 25px;
  display: none;
  cursor: pointer;
}

.menu-close {
  display: none;
}

.btn--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.btn--skewed {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b5d3c url("../images/pattern-bg.png");
  clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
  padding: 8px 38px 8px 40px;
  transition: all 0.2s ease-in-out;
  min-width: 151px;
  width: 100%;
}

.skewed__text {
  display: inline-block;
  transform: skew(12deg);
}

.btn--skewed:hover {
  background-color: #2b8348;
}

.btn--skewed:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 997px) {
  .btn--secondary {
    padding: 8px 50px;
  }
}

@media screen and (max-width: 850px) {
  .utility {
    position: relative;
  }

  .btn--container {
    display: none;
  }

  .utility__content .utility__menu {
    display: block;
  }

  .utility__content .menu-btn-hide {
    display: none;
  }

  .menu-close {
    display: block;
    cursor: pointer;
  }
}

.utility--mobile {
  background: #115634;
  display: none;
}

.btn--secondary {
  background: #115634 url("../images/pattern-bg.png");
  padding: 13px 50px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.btn--secondary:nth-child(1) {
  border-right: 3px solid #fff;
}

.btn--secondary:hover {
  background: #2b8348;
}

@media screen and (max-width: 850px) {
  .utility--mobile {
    display: flex;
    box-shadow: 1px 7px 30px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 7px 30px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 7px 30px -6px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 191;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .utility {
    padding: 0 10px 5px 10px;
  }

  .btn--secondary {
    width: 100%;
    padding: 8px 20px;
  }
}

/* --------------------------------- 
------------------ Navbar Styles ------------------
------------------------------------- */
.nav {
  position: relative;
  background: #1b5d3c url("../images/pattern-bg.png");
}

.nav--sticky {
  position: sticky;
  top: 0px;
  z-index: 111;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__links {
  display: flex;
  margin: 0;
}

.nav__link-item {
  transform: skew(-12deg);
  padding: 17px 29px;
  letter-spacing: 0.7px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link-item a {
  text-decoration: none;
}

.nav__link-item:hover {
  background: #2a8347 url("../images/pattern-bg.png");
}

.input--group {
  background: #0f372b url("../images/pattern-bg.png");
  display: flex;
  align-items: center;
  padding: 0;
  max-width: 255px;
  width: 100%;
}

.input {
  border: 0;
  outline: 0;
  width: 86%;
}

.nav--input {
  font-family: "Oswald";
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  letter-spacing: 0.02px;
  color: #fff;
  caret-color: #fff;
  padding: 7px 12px;
}

.nav--input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.nav--input:-webkit-autofill,
.nav--input:-webkit-autofill:hover,
.nav--input:-webkit-autofill:focus,
.nav--input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.input-cross {
  cursor: pointer;
  margin-right: 4px;
}

.input-hide {
  display: none;
}

.input-show {
  display: block;
}

.input__search {
  cursor: pointer;
  margin-right: 4px;
}

.input__search-btn {
  background: none;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 7px;
  margin: 0;
  cursor: pointer;
}

.input-cross {
  opacity: 0.6;
}

@media screen and (max-width: 1030px) {
  .nav__link-item {
    font-size: 16px;
  }

  .nav__content {
    margin-left: -10px;
  }

  .nav--input {
    font-size: 16px;
  }

  .nav__link-item {
    padding: 17.5px 20px;
  }

  .input--group {
    width: 30%;
  }
}

@media screen and (max-width: 997px) {
  .input--group {
    width: 26.5%;
  }

  .nav__links {
    margin-left: 10px;
  }

  .nav__link-item {
    padding: 17.5px 18.7px;
  }
}

@media screen and (max-width: 850px) {
  .nav--wrapper {
    position: relative;
  }

  .nav {
    display: flex;
    padding: 30px 0px;
    position: absolute;
    z-index: 45;
    width: 100%;
    height: 1000vh;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
  }

  .nav__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .input--group {
    width: 100%;
    max-width: 100%;
  }

  .input {
    width: 100%;
  }

  .nav__link-item {
    display: block;
    transform: skew(0deg);
    clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
  }

  .nav__link-item a {
    transform: skew(0deg);
  }

  .active {
    display: none;
  }
}

/* --------------------------------- 
------------------ title Styles ------------------
------------------------------------- */
.page--title {
  background: #248142 url("../images/pattern-bg.png");
  overflow: hidden;
}

.title__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__text {
  font-size: 50px;
  text-transform: uppercase;
}

.title__reebok-box {
  background: #fff;
  transform: skew(-15deg);
  padding: 27px 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.title__logo-text {
  transform: translate(-14px, -5px) skew(15deg);
}

.title__reebok-box::after {
  content: "";
  position: absolute;
  background-color: #fff;
  left: calc(100% - 2px);
  width: 100vw;
  height: 100%;
  z-index: 3;
}

.title__logo-text {
  color: green;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 997px) {
  .title__reebok-box {
    padding: 18px 62px;
    transform: skew(-18deg);
  }

  .title__logo-text {
    transform: translate(-8px, -5px) skew(18deg);
  }

  .title__text {
    font-size: 40px;
  }
}

@media screen and (max-width: 850px) {
  .page--title {
    display: none;
  }
}

/* --------------------------------- 
------------------ Hero Slider Styles ------------------
------------------------------------- */
.video--box {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 199;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__content-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video__wrapper {
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  opacity: 1;
  width: 100%;
  max-width: 1100px;
  height: 80%;
  max-height: 650px;
  position: relative;
  margin: 50px;
}

.video__close-btn {
  background: rgb(255, 255, 255);
  border-radius: 100px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.video__close-btn img {
  color: #000;
}

.video-hide {
  display: none;
}

.video-show {
  display: flex;
  z-index: 222;
}

@media screen and (max-width: 980px) {
  .video__wrapper {
    max-height: 500px;
  }
}

@media screen and (max-width: 640px) {
  .video__wrapper {
    max-height: 300px;
    margin: 40px;
  }
}

/* --------------------------------- 
------------------ Hero Slider Styles ------------------
------------------------------------- */
.hero-content {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}

.hero-content::before {
  content: "";
  position: absolute;
  background: rgba(1, 44, 31, 0.7) url("../images/pattern-bg.png");
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero-slider__slide.swiper-slide {
  height: 550px;
}

.hero-content__wrapper {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 30px 20px;
}

.hero-content__wrapper h1 {
  font-size: 50px;
  line-height: 1.1;
}

.hero-slider__title {
  margin-bottom: 30px;
}

.hero-content__wrapper p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.hero-content__text {
  width: 50%;
}

.hero-content__shoe {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .hero-content__wrapper h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .hero-content__wrapper h1 {
    font-size: 30px;
  }

  .hero-content__shoe > img {
    width: 70%;
  }

  .hero-content__wrapper p {
    font-size: 16px;
  }

  .hero-content__wrapper {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .hero-content__text {
    width: 100%;
  }

  .hero-content__shoe {
    width: 100%;
  }

  .hero-slider__slide.swiper-slide {
    height: auto;
  }
}

.hero-slider__next.swiper-button-next {
  right: 50px;
}

.hero-slider__prev.swiper-button-prev {
  left: 50px;
}

.hero-slider__next.swiper-button-next::after,
.hero-slider__prev.swiper-button-prev::after {
  content: "";
  position: absolute;
  left: 5px;
  right: 0px;
  top: 7px;
  bottom: 0;
  background-repeat: no-repeat;
}

.hero-slider__next.swiper-button-next::after {
  background-image: url("../images/arrow-next.svg");
}

.hero-slider__prev.swiper-button-prev::after {
  background-image: url("../images/arrow-prev.svg");
}

.hero-slider__pagination.swiper-pagination {
  bottom: 30px;
}

.hero-slider__pagination .swiper-pagination-bullet {
  height: 7px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.76);
}

.hero-slider__pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.play__icon-container {
  background: #0f372bb2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  width: 87px;
  height: 87px;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s;
}

.play__icon-container img {
  transform: translateX(3px);
}

.play__icon-container:hover {
  background: #0f372bd0;
}

@media screen and (max-width: 1310px) {
  .hero-slider__next.swiper-button-next,
  .hero-slider__prev.swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    padding: 0 0 50px 0;
  }
}

@media screen and (max-width: 630px) {
  .play__icon-container {
    width: 60px;
    height: 60px;
    transform: translate(0px, -10px);
  }

  .play__icon-container img {
    width: 20px;
  }
}

/* --------------------------------- 
------------------ Main Content Styles ------------------
------------------------------------- */
.body-content {
  background: #012c1f url("../images/pattern-bg.png");
  padding: 80px 0 73px 0;
}

.body-content__wrapper {
  display: flex;
}

.body-content__left {
  width: 74.3%;
}

.body-content__aside {
  width: 26.7%;
  padding-left: 30px;
}

@media screen and (max-width: 1165px) {
  .body-content__left {
    width: 70%;
  }

  .body-content__aside {
    width: 27%;
  }
}

@media screen and (max-width: 997px) {
  .body-content {
    padding: 60px 0 60px 0;
  }

  .body-content__left {
    width: 68%;
  }
}

@media screen and (max-width: 995px) {
  .body-content__left {
    width: 67%;
  }

  .body-content__aside {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .body-content__left {
    width: 64%;
  }

  .body-content__aside {
    width: 31%;
  }
}

@media screen and (max-width: 875px) {
  .body-content__wrapper {
    flex-direction: column;
    width: 95%;
  }

  .body-content__left {
    width: 100%;
  }

  .body-content__aside {
    width: 100%;
    max-width: 300px;
    padding: 0;
    margin-top: 50px;
  }
}

@media screen and (max-width: 630px) {
  .body-content {
    padding: 40px 0px;
  }

  .body-content__aside {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

/* --------------------------------- 
------------------ Card Slider Styles ------------------
------------------------------------- */
.card__slider-block {
  margin-bottom: 30px;
  width: 100%;
  padding: 0 45px;
  padding-bottom: 45px;
  position: relative;
}

.card__slider.swiper {
  width: 100%;
  height: 100%;
}

.card__slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: rgba(27, 125, 59, 0.01) url("../images/pattern-bg.png");
  padding: 10px;
}

.card__slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__slider-arrow {
  color: #fff;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}

.card__slider-arrow:hover {
  opacity: 0.7;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px;
}

.card__next {
  right: -8px;
}

.card__prev {
  left: -6px;
}

.card__slider .swiper-pagination-bullet,
.swiper-pagination-bullet {
  width: 20px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 6px;
  border-radius: 0px;
  transition: all 0.2s;
}

.card__slider .swiper-pagination-bullet,
.swiper-pagination-bullet:hover {
  opacity: 1;
}

.card__slider .swiper-pagination-bullet,
.swiper-pagination-bullet:focus {
  cursor: default;
}

.slider__bottom-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
}

@media screen and (max-width: 997px) {
  .card__slider-arrow {
    display: none;
  }

  .card__slider-block {
    padding: 0 0 47px 0;
    margin: 1px 1px 26px 1px;
  }
}

@media screen and (max-width: 770px) {
  .card__slider-arrow {
    top: 43%;
  }
}

@media screen and (max-width: 700px) {
  .card__slider-arrow {
    top: 42%;
  }
}

@media screen and (max-width: 640px) {
  .card__slider-arrow {
    display: none;
  }

  .card__slider .swiper-slide {
    margin-bottom: 10px;
  }

  .card__slider-block {
    padding: 0;
    padding-bottom: 27px;
  }

  .slider__bottom-line {
    margin-top: -9px;
  }
}

/* --------------------------------- 
------------------ Post Card Styles ------------------
------------------------------------- */
.card__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 38px;
}

.post__card {
  background: #1b7d3b url("../images/pattern-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__body {
  background: #1b7d3b url("../images/pattern-bg.png");
  margin: 0;
  padding: 13px 11px 18px 11px;
  flex: auto;
}

.card__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.2;
}

.card__description {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.card__footer {
  background: #08512d url("../images/pattern-bg.png");
  margin: 0;
  padding: 8px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}

.card__footer:hover {
  background-color: #08512d96;
}

@media screen and (max-width: 1165px) {
  .card__block {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 997px) {
  .card__header {
    height: 45%;
  }

  .card__block {
    gap: 30px;
    margin-top: 40px;
  }

  .card__description {
    margin: 0;
    padding: 0;
  }

  .card__body {
    padding: 17px 11px 5px 11px;
  }
}

@media screen and (max-width: 630px) {
  .card__block {
    display: flex;
    flex-direction: column;
  }

  .card__header {
    margin-bottom: -3px;
    /* height: 280px; */
    height: 100%;
  }
}

/* --------------------------------- 
------------------ Showcase Styles ------------------
------------------------------------- */
.showcase__block {
  margin-top: 40px;
}

.showcase__card {
  background: #1b7d3b url("../images/pattern-bg.png");
  display: flex;
}

.showcase__header {
  width: 60%;
  clip-path: polygon(0% 0%, 100% 0%, 87% 100%, 0% 100%);
}

.showcase__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase__body {
  background: #1b7d3b url("../images/pattern-bg.png");
  position: relative;
  width: 40%;
  padding: 38px 45px 49px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.showcase__title {
  padding: 0;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  /* margin-top: 10px; */
  line-height: 1.2;
  margin-bottom: 9px;
}

.showcase__description {
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  padding: 0;
  /* margin-top: 10px; */
  margin: 0;
}

.showcase__card:nth-of-type(even) {
  flex-direction: row-reverse;
  background-color: #08512d;
}

.showcase__card:nth-of-type(even) .showcase__body {
  background-color: #08512d;
}

.showcase__card:nth-of-type(even) .showcase__header {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 13% 100%);
}

@media screen and (max-width: 997px) {
  .showcase__title {
    margin-bottom: 10px;
  }

  .showcase__block {
    margin-top: 42px;
  }

  .showcase__header {
    width: 55%;
    clip-path: polygon(0% 0%, 100% 0%, 82% 100%, 0% 100%);
  }

  .showcase__body {
    width: 50%;
    padding: 62px 45px 67px 30px;
  }

  .showcase__card:nth-of-type(even) .showcase__header {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 19% 100%);
  }
}

@media screen and (max-width: 630px) {
  .showcase__header {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .showcase__card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .showcase__card:nth-of-type(even) .showcase__header {
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .showcase__body {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .showcase__card:nth-of-type(even) {
    display: flex;
    flex-direction: column;
  }
}

/* --------------------------------- 
------------------ Event Card Styles ------------------
------------------------------------- */
.event__card {
  background: #1b7d3b url("../images/pattern-bg.png");
  text-transform: uppercase;
}

.event__card-header {
  background: #08512d url("../images/pattern-bg.png");
  padding: 8px 20px;
}

.events__title {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.event__card-body {
  padding: 20px 20px 30px 20px;
  counter-reset: event-number;
}

.event__card-item {
  display: flex;
  align-items: flex-start;
}

.event__card-item:not(:last-child) {
  margin-bottom: 19px;
}

.event__number-container {
  padding: 10px 17px;
  background: #fff url("../images/pattern-bg.png");
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #1b7d3b;
  margin-right: 10px;
}

.event__number-container::before {
  counter-increment: event-number;
  content: counter(event-number);
}

.event__body-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event__body-title {
  font-size: 18px;
  /* line-height: 2.5; */
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  margin-top: -3px;
  margin-bottom: 5px;
  letter-spacing: -0.3px;
}

.event__body-title a:hover {
  text-decoration: none;
}

.event__body-country {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

/* --------------------------------- 
------------------ Form Section ------------------
------------------------------------- */
.form-section {
  background: #08512d url("../images/pattern-bg.png");
  padding: 28px 0;
}

.form-section h2,
h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 540px;
  margin: 14px auto;
  /* margin-bottom: 0; */
}

.input-group {
  width: calc(50% - 15px);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group,
label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}

.input--label {
  cursor: pointer;
}

.input-group__input {
  padding: 8px 12px;
  margin-top: 7px;
  border: 0;
  color: rgb(34, 34, 34);
  outline: none;
  width: 100%;
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
}

.input-group__input::placeholder {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #222222;
  opacity: 0.5;
  font-weight: 400;
}

.input--dropdown {
  color: #5554548e;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/dropdown-arrow-green.svg");
  background-position-y: center;
  background-repeat: no-repeat;
  position: relative;
  background-position-x: right;
  background-origin: content-box;
  cursor: pointer;
  appearance: none;
}

.input-radio-wrapper {
  align-items: flex-start;
  width: 100%;
}

.input-radio-box {
  display: flex;
  margin-top: 7px;
}

.input-group--radio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group--radio:nth-child(2) {
  margin: 0 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input--radio {
  padding: 0;
  margin: 0;
}

.input--radio {
  margin: 0;
  padding: 0;
  display: flex;
  width: 22px;
  height: 22px;
  display: flex;
}

.input--radio:after {
  width: 22px;
  height: 22px;
  border-radius: 15px;
  position: relative;
  background-color: #ffffff;
  content: "";
  display: flex;
  border: 4px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.input--radio:checked:after {
  width: 22px;
  height: 22px;
  border-radius: 15px;
  position: absolute;
  background-color: #1b7d3b;
  content: "";
  border: 4px solid white;
}

.input-group--radio .input--label {
  margin-left: 10px;
}

.input-group--textarea {
  width: 100%;
}

.input--textarea {
  height: 87px;
  line-height: 1.5;
}

.form__btn {
  background: #012c1f url("../images/pattern-bg.png");
  font-size: 14px;
  padding: 8px 20px;
  grid-area: 5 / 1 / 6 / 3;
  max-width: 162px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.form__btn:hover {
  background-color: #012c1fc0;
  color: #fff;
}

@media screen and (max-width: 640px) {
  .form {
    flex-direction: column;
  }

  .input-group {
    width: 100%;
  }
}

@media screen and (max-width: 280px) {
  .input--radio {
    width: 16px;
    height: 16px;
  }

  .input--radio::after {
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
  }

  .input--radio:checked::after {
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
  }
}

/* --------------------------------- 
------------------ Footer Section ------------------
------------------------------------- */
.footer__section {
  padding: 30px 0 32px 0;
  background: #012c1f url("../images/pattern-bg.png");
}

.footer__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer__links {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  font-weight: 15px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.footer__link-item {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  margin: 0 8px;
  font-size: 16px;
}

.footer__link-item a {
  text-decoration: none;
}

.footer__link-item::after {
  content: "";
  transform: skew(-12deg);
  width: 2px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  margin-left: 15px;
}

.footer__link-item:nth-child(5):after {
  display: none;
}

.footer__link-item a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer__social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer__icon {
  margin: 0 10px;
  transition: all 0.3s;
}

.footer__icon:hover {
  opacity: 0.7;
}

.footer__copyright {
  /* color: #fff; */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 7px;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  .footer__links {
    flex-wrap: wrap;
    padding: 0 90px;
    align-items: center;
    justify-content: center;
  }

  .footer__link-item {
    margin-bottom: 5px;
  }

  .footer__link-item:nth-child(3):after {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .footer__links {
    flex-wrap: wrap;
    padding: 0 70px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 487px) {
  .footer__links {
    flex-wrap: wrap;
    padding: 0 40px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .footer__links {
    flex-wrap: wrap;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 385px) {
  .footer__links {
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
  }
}
